.kinobox__hidden {
    display: none !important
}

.kinobox__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    background: #111;
    overflow: hidden;
    user-select: none
}

.kinobox__loader {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #111;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23dddddd' style='animation: loader_spin 2s linear infinite;'%3E%3Cstyle%3E%0A@keyframes loader_spin %7Bfrom %7Btransform: rotate(0deg);%7D to %7Btransform: rotate(360deg);%7D%7D%0A%3C/style%3E%3Cpath d='M2 11h5v2H2zm15 0h5v2h-5zm-6 6h2v5h-2zm0-15h2v5h-2zM4.222 5.636l1.414-1.414 3.536 3.536-1.414 1.414zm15.556 12.728-1.414 1.414-3.536-3.536 1.414-1.414zm-12.02-3.536 1.414 1.414-3.536 3.536-1.414-1.414zm7.07-7.071 3.536-3.535 1.414 1.415-3.536 3.535z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center
}

.kinobox__message {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font: 32px system-ui, sans-serif;
    color: #eee;
    text-align: center;
    background: #111;
    padding: 16px
}

.kinobox__iframeWrapper {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%
}

.kinobox__iframe {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border: none
}

.kinobox__nav {
    display: block !important
}

.kinobox__nav button {
    display: none
}

.kinobox__nav ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.mobileMenuButton {
    position: absolute;
    z-index: 300;
    top: 50%;
    left: 32px;
    transform: translate(0, -50%);
    display: block !important;
    width: 48px;
    height: 48px;
    background-color: #5a535e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fafafa'%3E%3Cpath d='M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z'%3E%3C/path%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 99px;
    outline: solid 4px #00000033;
    cursor: pointer
}

.mobileMenuButton:hover {
    background-color: #665f6c
}

.mobileMenuButton span {
    display: none
}

.menuList ul {
    position: absolute;
    z-index: 200;
    top: 50%;
    right: -205px;
    transform: translate(0, -50%);
    display: block;
    width: 240px;
    max-height: calc(100% - 120px);
    overflow-y: auto;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 1px 2px #00000055;
    outline: solid 4px #00000033;
    transition: right .1s linear
}

.menuList ul.active {
    right: 0 !important
}

.menuList li {
    display: block;
    float: none;
    font: 13px 'Tahoma', sans-serif;
    color: #111;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    border-bottom: solid 1px #ccc;
    cursor: pointer;
    padding: 8px 7px 8px 10px
}

.menuList li:last-child {
    border-bottom: none
}

.menuList li:hover {
    background: #ffedac !important
}

.menuList li.active {
    background: #d9f99d
}

.menuButton button {
    left: unset !important;
    right: 16px !important
}

.menuButton ul {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    background: #202020dd;
    box-sizing: border-box;
    padding: 8px 80px 8px 8px !important
}

.menuButton ul.active {
    display: block
}

.menuButton li {
    display: block;
    font: 14px 'Tahoma', sans-serif;
    color: #fafafa;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #303030;
    border-radius: 4px;
    box-shadow: 0 1px 2px #111;
    cursor: pointer;
    padding: 16px;
    margin-bottom: 8px
}

.menuButton li:last-child {
    margin-bottom: 0
}

.menuButton li:hover {
    background: #404040 !important
}

.menuButton li.active {
    background: #5a535e
}